.voice-visualizer__buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.voice-visualizer__btn-center {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #c5c5c5;
    outline: none;
    cursor: pointer;
    transition: border-color 300ms, background-color 300ms;
}

.voice-visualizer__btn-center:hover {
    background-color: #eaeaea;
}

.voice-visualizer__btn-center > img {
    width: auto;
    height: 50%;
    max-height: 30px;
}

.voice-visualizer__btn-center.voice-visualizer__btn-center-pause {
    background-color: #ff3030;
}

.voice-visualizer__btn-center.voice-visualizer__btn-center-pause:hover {
    background-color: #ff4f4f;
}

.voice-visualizer__btn-center.voice-visualizer__btn-center-pause > img {
    height: 50%;
    max-height: 16px;
}

.voice-visualizer__btn-center:hover {
    border: 4px solid #9f9f9f;
}

.voice-visualizer__btn-left {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff3030;
    border: 4px solid #c5c5c5;
    outline: none;
    cursor: pointer;
    transition: border-color 300ms, background-color 300ms,  opacity 300ms;
}

.voice-visualizer__btn-left:hover {
    background-color: #ff4f4f;
}

.voice-visualizer__btn-left:disabled {
    opacity: 0.6;
    background-color: #ff3030;
}

.voice-visualizer__btn-left.voice-visualizer__btn-left-microphone {
    background-color: white;
}

.voice-visualizer__btn-left.voice-visualizer__btn-left-microphone > img {
    width: auto;
    height: 50%;
    max-height: 30px;
}

.voice-visualizer__btn-left > img {
    width: auto;
    height: 50%;
    max-height: 16px;
}

.voice-visualizer__btn-left:hover {
    border: 4px solid #9f9f9f;
}

.voice-visualizer__btn {
    box-sizing: border-box;
    min-width: 100px;
    min-height: 60px;
    padding: 5px 20px;
    border-radius: 40px;
    font-size: 15px;
    background-color: #f0f0f0;
    transition: background-color 300ms, opacity 300ms;
}

.voice-visualizer__btn:disabled {
    opacity: 0.8;
    background-color: #f0f0f0;
}

.voice-visualizer__btn:hover {
    background-color: #bebebe;
}

.voice-visualizer__canvas-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
}

.voice-visualizer__canvas-container canvas {
    display: block;
}

.voice-visualizer__canvas-microphone-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    max-width: 12%;
    min-width: 24px;
    height: 50%;
    max-height: 100px;
    background-color: transparent;
    border: none;
    outline: none;
    transform: translate(-50%, -50%);
}

.voice-visualizer__canvas-microphone-icon {
    width: 100%;
    height: 100%;
    will-change: transform;
    transition: transform 300ms;
}

.voice-visualizer__canvas-microphone-btn:hover .voice-visualizer__canvas-microphone-icon {
    transform: scale(1.03);
}

.voice-visualizer__canvas-audio-wave-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    max-width: 40%;
    height: 40%;
    max-height: 100px;
    transform: translate(-118%, -50%) scale(-1);
}

.voice-visualizer__canvas-audio-wave-icon2 {
    transform: translate(18%, -50%);
}

.voice-visualizer__canvas-audio-processing {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.voice-visualizer__progress-indicator-hovered {
    position: absolute;
    top: 0;
    pointer-events: none;
    height: 100%;
    width: 1px;
    background-color: rgba(133, 133, 133, 0.6);
}

.voice-visualizer__progress-indicator-hovered-time {
    position: absolute;
    top: 3%;
    left: 1px;
    width: fit-content;
    margin: 0;
    padding: 0 7px;
    opacity: 0.8;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
    background-color: #575757;
    text-align: left;
}

.voice-visualizer__progress-indicator-hovered-time.voice-visualizer__progress-indicator-hovered-time-left {
    left: unset;
    right: 1px;
    border-radius: 4px 0 0 4px;
    text-align: right;
}

.voice-visualizer__progress-indicator {
    position: absolute;
    top: 0;
    pointer-events: none;
    height: 100%;
    width: 1px;
    background-color: #efefef;
}

.voice-visualizer__progress-indicator-time {
    position: absolute;
    top: 3%;
    left: 1px;
    width: fit-content;
    box-sizing: border-box;
    min-width: 41px;
    margin: 0;
    padding: 0 7px;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
    text-align: left;
    color: black;
    font-weight: 500;
    background-color: #efefef;
}

.voice-visualizer__progress-indicator-time.voice-visualizer__progress-indicator-time-left {
    left: unset;
    right: 1px;
    border-radius: 4px 0 0 4px;
    text-align: right;
}

.voice-visualizer__audio-info-container {
    box-sizing: border-box;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.voice-visualizer__audio-info-time {
    margin: 15px 0;
    min-width: 38px;
    text-align: left;
}

.voice-visualizer__visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 4px solid #c5c5c5;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}